@media (min-width: 360px) and (max-width: 480px) {

    .header {
        flex-direction: column;
        justify-content: center;

        img {
            width: 60%;
            padding-bottom: 15px;
        }

        .nav {
            gap: 10px;
            font-size: 12px;

            .btn-comecar-agora {
                padding: 5px 10px;
            }
        }
    }

    .secao-sobre-reciclaTech {
        padding: 0 15px;
        text-align: center;
        flex-direction: column;

        .titulo {
            font-size: 30px;
        }

        .botoes {
            gap: 10px;
            justify-content: center;

            .btn-quero-doar {
                padding: 8px 10px;
            }

            .btn-quero-adquirir {
                padding: 5px 10px;
            }
        }

        img {
            width: 90%;
        }
    }

    .secao-informacoes-de-doacoes {
        .info-doacoes {
            p {
                font-size: 12px;
            }
        }
    }

    .como-funciona {
        text-align: center;

        p {
            font-size: 14px;
        }
    }

    .secao-como-funciona {
        gap: 30px;
        align-items: center;
        flex-direction: column;
        justify-content: center;


        .card-doacao {
            padding: 20px;

            h3 {
                font-size: 20px;
            }

            .descricao-card {
                padding: 10px 0;
                font-size: 14px;
                text-align: center;
            }

            li {
                p {
                    font-size: 14px;
                }
            }
        }
    }

    .produtos-disponiveis {
        text-align: center;
    }

    .secao-produtos-disponiveis {
        gap: 30px;
        align-items: center;
        flex-direction: column;
    }

    .infos-secao-comentarios {
        text-align: center;
    }

    .secao-comentarios {
        gap: 30px;
        align-items: center;
        flex-direction: column;

        .card-comentario {
            width: 340px;
        }
    }

    .secao-cadastro {
        h2 {
            font-size: 30px;
        }
    }

    .footer {
        flex-direction: column;
    }

    .copyright {
        font-size: 11px;
        
        p {
            padding: 10px;
        }
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .header {
        flex-direction: column;
        justify-content: center;
        
        img {
            padding-bottom: 15px;
        }
    }

    .secao-sobre-reciclaTech {
        text-align: center;
        flex-direction: column;
        justify-content: center;

        .sobre-reciclaTech {
            width: 500px;
        }
        
        .botoes {
            justify-content: center;
        }
    }

    .como-funciona {
        text-align: center;
    }

    .secao-como-funciona {
        gap: 40px;
        flex-direction: column;
    }

    .produtos-disponiveis {
        text-align: center;
    }

    .secao-produtos-disponiveis {
        gap: 40px;
        align-items: center;
        flex-direction: column;
    }

    .infos-secao-comentarios {
        text-align: center;
    }

    .secao-comentarios {
        gap: 40px;
        flex-direction: column;
        align-items: center;
    }

    .footer {
        flex-direction: column;
    }

    .copyright {
        font-size: 12px;
    }
}

@media (min-width: 769px) and (max-width: 1279px) {
    .secao-sobre-reciclaTech {
        margin: 20px;

        .titulo {
            font-size: 30px;
        }

        .sobre-reciclaTech {
            width: 415px;
        }

        img {
            width: 40%;
        }
    }

    .secao-como-funciona {
        margin: 0;

        .card-doacao {
            padding: 20px;
            width: 350px;
        }
    }

    .secao-produtos-disponiveis {
        gap: 10px;
        margin: 5px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .secao-comentarios {
        margin: 5px;
        gap: 10px;
        flex-wrap: wrap;
    }

    .footer {
        font-size: 14px;

        .redes-sociais {
            padding: 0 20px;
        }
    }
}